body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 1000px;
}
.container {
    margin-top: 50px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #235b96;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #0056b3;
}
.outer-box p{
    padding: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}
.outer-box{
    border-radius: 5px;
    border: none;
    width: 80%;
    padding: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 4px 3px rgba(0,0,0,0.15);
}
.heading{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 20px;
}
.title{
    font-size: 30px;
    font-weight: 600;
}
.first, .second{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:25px;
    padding-bottom: 25px;
}
.beginner, .ai, .full{
    box-shadow: 0 0 4px 3px rgba(0,0,0,0.15);
    border: none;
    border-radius: 5px;
    padding: 20px;
    height: 200px;
    width: 300px;
}
.card-heading{
    color: #235b96;
    font-weight: 600;
    font-size: 20px;
}
.date{
    font-size: 18px;
    font-weight: 700;
}
.content{
    line-height: 20px;
}
.register-button{
    margin-top: 20px;
}

